body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #020202;
    color: white;
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex-grow: 1;
    margin: 17px auto;
    max-width: 100%;
    padding: 0 20%;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center horizontally */
    position: relative; /* Needed for absolute positioning of search bar */
}

.sidebar {
    width: 100px;
    background-color: black;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid white;
    z-index: 2;
}

.sidebar:hover {
    width: 20%;
    border-right: 1px solid white;
}

.sidebar a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    justify-content: center;
    position: relative;
}

.sidebar a i {
    margin-right: 10px;
    font-size: 1.5em;
}

.sidebar a span {
    display: none;
}

.sidebar:hover a span {
    display: inline;
}

.sidebar-f i {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, color 0.3s ease;
}

.sidebar-f i:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
}

.sidebar a:hover::after {
    background-color: rgba(255, 255, 255, 0.1);
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.progress-bar {
    width: 15%;
    background-color: #020202;
    border-left: 1px solid white;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 1;
}

.progress-bar-header {
    font-size: 1.5em;
    margin-bottom: 20px;
}

hr {
    border: none;
    border-top: 1px solid white;
    margin: 0px 0;
}

footer {
    background-color: #020202;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.sidebar-f {
    display: none;
    font-size: 1.5em;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.sidebar:hover .sidebar-f {
    display: flex;
    justify-content: space-around;
}

.dark-mode {
    background-color: white;
    color: black;
}

.dark-mode .sidebar {
    background-color: white;
    border-right: 1px solid black;
}

.dark-mode .sidebar a {
    color: black;
}

.dark-mode .sidebar:hover .sidebar-f {
    color: black;
}

.dark-mode .progress-bar {
    background-color: white;
    border-left: 1px solid black;
}

.dark-mode footer {
    background-color: white;
    color: black;
}

.search-bar-container {
    position: fixed;
    top: 10px;
    width: auto;
    z-index: 3;
    margin: 0 69%;
    
}

.search-bar {
    width: 300px;
    padding: 10px;
    border: 2px black;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    max-width: 100%;
}

.search-result {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    display: none; /* Hidden by default; JavaScript will control this */
}

@media (max-width: 768px) {
    .main-content {
        max-width: 100%;
        margin: 10% 1% 10% 12%;
    }

    .progress-bar {
        display: none;
        width: 0;
    }

    .search-bar-container {
        position: fixed;
        margin: 0 69%;
        width: 28%;
    }

    .search-bar {
        width: 100%;
        max-width: 100%;
        margin:0 0;
    }

    .sidebar {
        width: 12%;
    }

    .sidebar:hover {
        width: 30%;
    }
}
