<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/assets/img/icons/JA_logo.png" type="image/x-icon">

    {% seo %}
</head>

<body>

<script type="application/json" id="search-data">{% include post-feed.html %}</script>

   <div class="search-bar-container">
        <input type="search" id="search-bar" placeholder="Search..." class="search-bar search-input-mobile">
        <i class="fas fa-search search-icon-mobile"></i>
        <div class="search-result" id="search-results"></div>
    </div>

    <div class="sidebar">
        <a href="https://www.redlii.com" class="sidebar-link"><img src="/assets/img/icons/Redlii.ico" alt="Redlii Icon" style="width: 30px; height: 30px; margin-right: 10px;"> <span>Redlii</span></a>
        <a href="/" class="sidebar-link"><i class="fas fa-home"></i> <span>Home</span></a>
        <a href="/test" class="sidebar-link"><i class="fas fa-random"></i> <span>Random</span></a>
        <a href="/readme" class="sidebar-link"><i class="fa-solid fa-circle-info"></i> <span>Readme</span></a>
        <a href="/about" class="sidebar-link"><i class="fas fa-envelope"></i> <span>About</span></a>

        <div class="sidebar-f"><i id="bug" class="fa-solid fa-bug"></i>
            <i id="credit-card" class="fa-solid fa-credit-card"></i>
            <i id="yin-yang" class="fa-solid fa-yin-yang"></i>
            <i id="support-us" class="fa-solid fa-handshake-angle"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="content">
            {{ content }}
        </div>
    </div>
    <div class="progress-bar"></div>
    <hr>
    <footer>
        <p style="font-size: 20px;">--- A Redlli Project ---</p>
        <p style="font-size: 15px;">©2025</p>
    </footer>
    <script src="/assets/js/mode.js"></script>

</body>
</html>
